@model IEnumerable<AppProductos.Models.Producto>
@{
    ViewData["Title"] = "Products page";
}

<h2>Lista de Productos</h2> 
<a href="/Home/AddProduct" class="btn btn-primary">Agregar Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <td>@producto.Nombre</td>
            <td>@producto.Descripcion</td>
            <td>@producto.Precio</td>
            <td>@producto.Categoria</td>
        }
    </tbody>
</table>